*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Roboto,sans-serif;
    background-color: #fff;
}
.headertop{
    background-color: #f2f3de;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 50px;
} 
.headertop >.clear > li{
    float: left;
    list-style-type: disc;
    display: block;
    padding: 7px 0px;
    
    
}  
.clear{
    padding-left: 50px;
    padding-top: 10px;
}
.headerright{
    float: right;
    padding-right: 100px;
    padding-top: 10px;
}
.nav-top{
    display: flex;
    justify-content: center;
   
}
.textnav-a{
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.textnav-a:hover{
    color: red;
}
.nav-search{
    display: flex;
    padding: 20px;
}
#cate{
    height: 36px;
    width: 80px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}
.search{
    width: 200px;
    height: 36px;
    border-left: none;
    border-right: none;
}
.search:focus{
    outline: none;
}
#button-search{
   border-left: none;
   width: 35px;
   outline: none;
   color: white;
   background-color: black;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   cursor: pointer;
}

.iconheader{
    color: red;
    padding-right: 2px;

}
.aheader>i{
    padding-right: 2px;
}
.aheader{
    text-decoration: none;
    
}
.aheader:hover{
    color: red;
}
.text{
    font-size: 15px;
    font-weight: 200;
    padding-right: 20px;
    
}
nav{
    background-color:rgb(91, 91, 247);
    color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.fa-home{
    font-size: 20px;
    color: black;
}
.nav-home{
    padding: 10px;
    cursor: pointer;
}
.nav-a{
    padding: 10px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}
.nav-a:hover{
    color: white;
    background-color: red;
}
.nav-cate-node{
    display: none;
}
.nav-cate-block{
    position: absolute;
    margin-left: 985px;
    display: block;
}

.nav-cate-block>a{
    display: block;
    background-color: black;
    padding-top: 10px;
    padding-right: 120px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.nav-a-l{
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    background-color: red;
}
/* the header */
.grid-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 10px;
    grid-template-areas:'menu main right';
}
.Menu{
    grid-area: menu;

}
.Main{
    grid-area: main;
}
.Right{
    grid-area: right;
}
.Main-l{
    border-bottom: 1px solid red;
    padding: 30px;
}
.Main-l>p{
    font-size: 23px;
    color: red;
    font-weight: 500;
    float: left;
    cursor: pointer;
}
.Main-l>a{
    text-decoration: none;
    font-size: 18px;
    float: right;
    color: gray;    
    font-weight: 400;
    cursor: pointer;
}

.Main-pd{
    display: flex;
    flex-wrap: wrap;        
}
.pd-col{   
    width: 20%;    
    border: 1px solid gray;
    padding: 1em;
    margin-top: 1em;
    margin-left: 5px;
}   
.pd-col:hover{
    box-shadow: -46px 23px 129px -76px rgba(0,0,0,0.75);
}
.datapd>img{
    max-width: 100%;
}
.pd-col>img:hover{
    opacity: 0.5;
}
.pd-col>a{
    font-size: 13px;
    justify-content: center;
    color: black;
    text-decoration: none;
}
.pd-col>a:hover{
    color: red;
}
.pd-col>a>p{
    font-size: 13px;
    text-align: center;    
}
.pd-col>p{
    font-size: 13px;
    text-align: center;
}
.Menu>img{
    margin-top: 1em;
    max-width: 100%;
    height: 50%;        
}
/* main index */
footer {
    background-color: #fff6eb;
}
#footer {
    margin-top: 10px;
}
footer > div > div > p {
    color: black;
    text-align: left;
}
footer>p{
    text-align: center;
    margin-bottom: 0px;
}
footer > a {
    position: fixed;
    right: 20px;
    bottom: 4px;
    z-index: 120px;
    font-size: 70px;
    background-size: cover;
}
footer>.row{
    display:flex;
    flex-wrap:wrap;
}
footer>.row>.col{
    width:25%;
}
footer>.row>.col>h5{
    font-size:1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
footer>.row>.col>p{
    font-size: 1rem;
    margin-bottom: 0.2em;
}
footer>.row>.col>div>a{
    text-decoration:none;
}
/* chi tiet */
.product-detail{
	display: flex;
    justify-content: center;
    align-items: center;
}
.product-detail>form{
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "pdimg pdif";        
 }
.pdimg {
    grid-area: pdimg;
    border: 1px solid #0089e5;
    margin-bottom: 50px;
}

.pdimg>img {
    object-fit: cover;
    vertical-align: top;
    max-width: 100%;
}

.pdif {
    grid-area: pdif;
    width: 100%;
    max-width: 100%;
}

.pdif>div>h1 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.pdif>div>h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #0984e3;
}

.addcart {
    margin-top: 20px;
    cursor: pointer;
}

.addcart>button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 100%;
    display: inline;
    padding: 15px 25px;
    background-color: #0089e5;
    border: 1px solid #0089e5;
    font-size: 16px;
}

.addcart>button:hover {
    color: #0089e5;
    background: white;
    border: 1px solid #0089e5;
}

.addcart>button>i {
    margin-left: 10px;
    margin-right: 10px;
}

.soluong>span {
    font-size: 16px;
    margin-right: 15px;
}

.soluong>input {
    background: #fff;
    margin: 3px 0;
    width: 93px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid grey;
    opacity: 0.5;
}

.soluong>input:hover {
    opacity: 1;

}

.comment {
    position: relative;
    left: 200px;
    width: 1028px;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 3px;
}

.comment-form {
    width: 100%;
}

.comment-form>form {
    width: 100%;
}

.comment-text {
    margin-top: 10px;
    width: 97%;
    height: 59px;
    padding: 15px;
    border-radius: 3px;
    outline: none;
    border-color: #bfbfbf;
}

.comment-text:focus {
    border-color: #4671EA;
}

.Buttoncm {
    position: relative;
    left: 85%;
    width: 150px;
    padding: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.alogincm {
    padding: 5px;
}

.alogincm>a {
    text-decoration: none;

}

.alogincm>a:hover {
    color: blue;
}

.getcomment>div>p {
    margin: 5px;

}

.postcm {
    background: #F5F5F5;
    padding: 10px 15px;
    border-radius: 4px;
}

.postcm>a {
    display: inline;
    float: right;
    margin: 5px;
    text-decoration: none;
}

.postcm>a:hover {
    color: red;
}

.postcm>p {
    display: inline;
}

.namecm {
    display: inline;
    font-size: 25px;
    margin-left: 5px;
    font-weight: 1000;
}

.cmdate {
    display: inline;
    font-size: 13px;
    margin-left: 5px;
    font-weight: 300;
}